<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>New SnapKit Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E54BE5991D82FE3D00020CD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E54BE5AD1D82FE3D00020CD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E54BE5B81D82FE3D00020CD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
